<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" targetFramework="net46" />
  <package id="Rhino.ServiceBus" version="3.1.1.0" targetFramework="net46" />
  <package id="Rhino.ServiceBus.Host" version="3.1.1.0" targetFramework="net46" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net46" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net46" />
  <package id="this.Log" version="0.0.3.0" targetFramework="net46" />
  <package id="this.Log-RhinoMocks" version="0.0.3.0" targetFramework="net46" />
</packages>